<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.webxmsj.emoji-alfred</string>
    <key>category</key>
    <string>Tools</string>
    <key>createdby</key>
    <string>webxmsj</string>
    <key>connections</key>
    <dict/>
    <key>description</key>
    <string>An alfred tool that use emoji for git commit message</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>emoji-alfred</string>
    <key>version</key>
    <string>1.0</string>
    <key>webaddress</key>
    <string>https://www.webxmsj.com</string>
  </dict>
</plist>