<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.webxmsj.emoji-alfred</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>9C9296D0-C532-44C7-B47C-F601D4D4AFCB</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>50C03D72-75E5-4E61-8711-1224AF1CF813</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>webxmsj</string>
    <key>description</key>
    <string>An alfred tool that use emoji for git commit message</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>emoji-alfred</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>gm</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>./index $1</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>9C9296D0-C532-44C7-B47C-F601D4D4AFCB</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <true/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>50C03D72-75E5-4E61-8711-1224AF1CF813</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>uidata</key>
    <dict>
      <key>50C03D72-75E5-4E61-8711-1224AF1CF813</key>
      <dict>
        <key>xpos</key>
        <integer>210</integer>
        <key>ypos</key>
        <integer>210</integer>
      </dict>
      <key>9C9296D0-C532-44C7-B47C-F601D4D4AFCB</key>
      <dict>
        <key>xpos</key>
        <integer>50</integer>
        <key>ypos</key>
        <integer>210</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>version</key>
    <string>1.0</string>
    <key>webaddress</key>
    <string>https://www.webxmsj.com</string>
  </dict>
</plist>